@font-face {
 /* font-family: "biko";
  src: url(biko.otf) format("opentype");*/

  font-family: "neutra";
  src: url(NeutraDispBoldAlt.otf) format("opentype");
}


body{
	background-color: #222;
	margin: 0px;
	padding: 0px;
	overflow: auto;
	font-family: 'neutra', sans-serif;
	color: #888;
}

#container{
	width: 320px;
	height: 480px;
	margin: 0 auto;
	background: url('bg.jpg') no-repeat center center;	
	position: relative;
	color: #888;

}

#nsav{
	width: 320px;
	height: 480px;
}

/*#sphere {
	position: absolute;	
	width: 50px;
	height: 50px;
	border-radius: 20px;
	-webkit-radius: 20px;
	
	background: url('circle.png') no-repeat center center;
}*/


@media only screen and (-webkit-min-device-pixel-ratio: 2){ 
/*	#container{

		background: url('bg@2x.jpg') no-repeat center center;
		-webkit-background-size: auto 480px ;
	}
	#sphere{
		background: url('circle@2x.png') no-repeat center center;
		-webkit-background-size: 50px 50px ;
	}*/

}



