body{
	margin: 0;
		background-color: purple;

}

.project{
	margin: 20px;
	background-color: blue;
   -webkit-mask-box-image: url(img/mask.png);
   display: inline;
 

 }

#site{
	width: 550px;
	background-color: light blue;
	overflow:hidden;
	height: 400px;
	position: absolute;
}

#nav{
	position: absolute;
	
	width: 2000px;
	height: 400px;
/*overflow: hidden;*/
	/*background-color: yellow;*/
}
 

#container{
	width: 2000px;
		background-color: red;
}